// COLOURS

$white: #ffffff;
$grey: #949494;
$blue800: #242742;
$blue700: #36384d;
$red: #ff6155;
$red100: #ffe7e6;
$gradient-start: #ff6a3a;
$gradient-end: #ff527b;

// SPACING

$space100: .5rem;
$space200: 1rem;
$space300: 1.5rem;
$space400: 2rem;
$space500: 2.5rem;
$space600: 3rem;
$space800: 4rem;
$space900: 4.5rem;
$space1300: 6.5rem;