// TEXT PRESENTS

@mixin txt-preset-1() {
    font-size: clamp(2.5rem, 1.9rem + 2.98vw, 6rem);
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0px;
}

@mixin txt-preset-2($weight: 400){
    font-size: clamp(0.875rem, 0.77rem + 0.53vw, 1.5rem);
    line-height: 150%;
    font-weight: $weight;
    letter-spacing: 0px;
}

@mixin txt-preset-3{
    font-size: clamp(0.75rem, 0.53rem + 1.06vw, 2rem);
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 0px;
}
